{% extends "::base.html.twig" %}

{% block title %}Welcome to MeinFeedback{% endblock %}

{% block body %}
    <!-- Brand and Navigation -->
    <header class="navbar navbar-fixed-top dashboard">
        <div class="container">
            <img class="navbar-brand img-responsive" src="{{ asset('bundles/meinfeedbackhome/images/logo-' ~ app.request.locale ~ '.png') }}"/>
            <button class="navbar-toggle collapsed pull-right" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <nav class="collapse navbar-collapse" role="navigation">
                <ul class="nav navbar-nav" id="menu">
                    <li >
                        <a title="Company" class="scroll fadeto brand-4">{{ render(controller('MFBAdminBundle:Helper:getCompanyName')) }}</a>
                    </li>
                    <li{% if app.request.get('_route') == 'mfb_admin_homepage' %} class="active"{% endif %}>
                        <a title="Start" class="scroll brand-1" href="{{ path('mfb_admin_homepage') }}">{% trans %}Dashboard{% endtrans %}</a>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle">{% trans %}Feedback{% endtrans %} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li{% if app.request.get('_route') == 'mfb_admin_edit_template' or app.request.get('_route') == 'mfb_admin_select_variables'%} class="active"{% endif %}>
                                <a title="Template setup" href="{{ path('mfb_admin_select_variables') }}" class="scroll fadeto brand-1" rel="nofollow">{% trans %} Templates Set-Up {% endtrans %}</a>
                            </li>
                            <li{% if app.request.get('_route') == 'mfb_admin_show_form_setup' %} class="active"{% endif %}>
                                <a title="Form setup" href="{{ path('mfb_admin_show_form_setup') }}" class="scroll fadeto brand-1" rel="nofollow"> {% trans %} Form setup{% endtrans %}</a>
                            </li>
                            <li>
                                <a title="Widget" href="{{ path('mfb_widget') }}" class="scroll fadeto brand-4" rel="nofollow"> {% trans %} Widget / Icon{% endtrans %}</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle">{% trans %}Account{% endtrans %} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a title="Account setup" href="{{ path('mfb_location') }}" class="scroll fadeto brand-4" rel="nofollow">{% trans %} Account Set-Up {% endtrans %}</a>
                            </li>
                            <li>
                                <a title="Change password" href="{{ path('mfb_admin_change_password') }}" class="scroll fadeto brand-4" rel="nofollow">{% trans %} Change password {% endtrans %}</a>
                            </li>
                        </ul>
                    </li>
                    <li><a title="Logout" href="{{ path('mfb_admin_logout') }}" class="scroll fadeto brand-4" rel="nofollow">{% trans %} Logout {% endtrans %}</a></li>
                </ul>
            </nav>
        </div>

        <div class="companyName"></div>
    </header>
    {% block content %}{% endblock %}
{% endblock %}