{% extends "::base.html.twig" %}

{% block title %}Feedbacks für {{ account_channel_name }}{% endblock %}

{% block body %}
    <!-- Brand and Navigation -->
    <div style="margin-left: 20px">
        <h3 style="margin-top: 50px;">Company profile</h3>

        <div id="companyProfile">
        {% if channelName %}
            <div>Company name: {{ channelName }}</div>
        {% endif %}

        {% if channelUrl %}
            <div>Homepage: <a href="{{ channelUrl }}">{{ channelUrl }}</a></div>
        {% endif %}

        {% if channelAddress %}
            <div>Address: {{ channelAddress }}</div>
        {% endif %}

        {% if channelCountry %}
            <div>Country: {{ channelCountry }}</div>
        {% endif %}

        {% if channelPhoneNumber %}
            <div style="">Phone number: {{ channelPhoneNumber }}</div>
        {% endif %}
        </div>

        <h3 style="margin-top: 50px;">aktuelle Feedbacks für {{ account_channel_name }}</h3>
        <ul class="stars_rating channel-ratings not-nested">
            {% for ratingCriteria in channelRatingSummaryList %}
                <li>
                    <div class="rating-title {% if ratingCriteria.getName == 'Overall' %} overall {% endif %}">
                        {{ ratingCriteria.getName }}
                    </div>
                    <div class="rating-stars">
                        <div class="stars_gray_small">
                            <span style="width: {{ ratingCriteria.getRating * 20 }}%;" class="stars_gold_small"></span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </li>
            {% endfor %}
        </ul>

        <div>Total feedbacks: {{ ratingCount }}</div>

        <div class="feedbackDisplayForm">
            {% for feedbackSummary in feedbackSummaryList %}
                {% set feedback = feedbackSummary.getFeedback %}
                <div style="margin:20px 0px">
                    <div class="username">
                        {% if (feedback.getCustomer.getFirstName) and (feedback.getCustomer.getAnonymous == false) %}
                            {{ feedback.getCustomer.getFirstName }}
                        {% else %}
                            {% trans %} Anonymous says: {% endtrans %}
                        {% endif %}
                    </div>
                    {% set ratingCriteria = feedbackSummary.getRatingByName('Overall') %}
                    {% if ratingCriteria.getRating > 0 %}
                    <div class="stars_rating feedback-ratings">
                        <div class="stars_gray_small">
                            <span style="width: {{ ratingCriteria.getRating * 20 }}%;" class="stars_gold_small"></span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    {% endif %}
                    <div style="margin-top: 20px">
                        <img src="{{ asset('bundles/meinfeedbackhome/images/comment_piece_top.png') }}" width="14" height="12" class="comment-piece-top">

                        <table width="700px" border="0" cellspacing="0" cellpadding="0" class="box-comment" >
                            <tbody><tr>
                                <td width="80%" style="padding:10px;">
                                    <span class="comment-text left" itemprop="description">
                                        {{ feedback.content }}
                                    </span>
                                </td>

                                <td align="right" valign="top" nowrap="nowrap" style="padding:10px;">
                                    <span title="{{ feedback.createdAt|date('Y-m-d') }}" class="timeago">{{ feedback.createdAt|date('D, d. M. Y, H:i') }}</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <header class="navbar navbar-fixed-top">
        <div class="inner-page">
            <h1 class="logo"><img src="{{ asset('bundles/meinfeedbackhome/images/logo-' ~ app.request.locale ~ '.png') }}"/></h1>
            <a class="btn-nav" data-toggle="collapse" data-target=".nav-collapse"> <i class="icon-reorder"></i> </a>
        </div>
        <div class="writeFeedbackButton">
            <a href="{{ path('mfb_feedback_create', {'accountId': account_id}) }}" class="btn btn-left orange abstandoben breite130">{% trans %} Give Feedback {% endtrans %}</a>
        </div>
    </header>
    <!-- Home Page -->


{% endblock %}