{% extends 'MFBAdminBundle::base.html.twig' %}

{% block content %}
    <div class="variableSelection">
        <div class="row-fluid inner-page contact navLogo">
            <div class="span12">
             <div class="sectionTitle">Template Variable selection</div>

                <div style="margin: 20px 0px">
                    The following variables are mandatory: <br>
                    #LINK#    #LASTNAME#    #SAL#    #EMAIL#    #HOMEPAGE#
                </div>

                <div style="margin: 10px 0px 10px">
                    Please select optional variables:
                </div>

                {{ form_start(form) }}

                {% for variable in form.variables %}
                    <div style="display:block">
                        <label>#{{  variable.type.vars.value|trans|upper }}#</label>
                        {{ form_widget(variable.isActive, {'attr': {'class': 'variableSelect'} }) }}
                    </div>
                {% endfor %}

                    {{ form_row(form.submit, {'attr' : {'class': 'btn btn-left orange abstandoben breite210'} } ) }}

                <div class="hidden">
                    {{ form_rest(form) }}
                </div>

                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}