{% extends "MFBAdminBundle::base.html.twig" %}

{% block title %}Change password{% endblock %}

{% block content %}
<div class="formular container modal-spacing">
    <h3 class="text-center form-header">
        {% trans %} Change password {% endtrans %}
    </h3>
    {{ form_start(form) }}
    {{ form_errors(form) }}

    <div class="form-group">
        {{ form_label(form.current_password) }}
        {{ form_widget(form.current_password) }}
    </div>
    <div class="form-group">
        {{ form_label(form.plainPassword.first) }}
        {{ form_widget(form.plainPassword.first) }}
    </div>
    <div class="form-group">
        {{ form_label(form.plainPassword.second) }}
        {{ form_widget(form.plainPassword.second) }}
    </div>

    <div class="form-group">
        {{ form_widget(form.save) }}
    </div>


    {{ form_widget(form) }}
    {{ form_end(form) }}
</div>

{% endblock %}
