{% extends "::base.html.twig" %}

{% block title %}Welcome to MeinFeedback{% endblock %}

{% block body %}

    <!-- Contact Us -->
    <div>
        {% if added_email %}
        <div class="alert alert-success">
            <strong>Well done!</strong> Customer added ({{ added_email }})
            <a href="#" class="close" data-dismiss="alert">&times;</a>
        </div>
        {% endif %}
        <div class="row-fluid inner-page contact">
            <div class="span6">
                <div style="padding:20px 10px 15px 0; font-size: 24px; font-weight:300;">Customer Form</div>
                {{ form_start(form) }}
                {{ form_errors(form) }}

                <div>
                    {{ form_widget(form.email, {'attr': {'class': 'required validate-email fr_input_txt fr_97_5pro breite490', 'placeholder': 'Customers email*'} }) }}
                    {{ form_errors(form.email) }}

                    {{ form_label(form.gender) }}
                    {{ form_widget(form.gender, {'attr': {'class' : 'gender'} }) }}

                    {{ form_label(form.firstName) }}
                    {{ form_widget(form.firstName) }}

                    {{ form_label(form.lastName) }}
                    {{ form_widget(form.lastName) }}


                    {{ form_label(form.salutation) }}
                    {{ form_widget(form.salutation) }}
                </div>
                <div style="width:250px; padding-top:10px;">
                    <input id="sendOut" class="btn btn-left orange abstandoben breite210" value="Send" type="submit">
                </div>

                {{ form_end(form) }}

            </div>

        </div>
    </div>


{% endblock %}