{% extends "MFBAdminBundle::base.html.twig" %}

{% block title %}{% trans %} Welcome to MeinFeedback {% endtrans %}{% endblock %}

{% block content %}

    <!-- Contact Us -->
    <div class="formular container modal-spacing">
        {% if customerEmail %}
        <div class="alert alert-success">
            <strong>{% trans %} Well done! {% endtrans %}</strong> {% trans %} Customer added {% endtrans %} ({{ customerEmail }})
            <a href="#" class="close" data-dismiss="alert">&times;</a>
        </div>
        {% endif %}
        <div class="row-fluid inner-page contact">
            <div class="span6">
                <h3 class="text-center form-header">{% trans %} Customer Form {% endtrans %}</h3>
                {{ form_start(form) }}
                {{ form_errors(form) }}

                    <div class="form-group">

                        {{ form_errors(form.customer.email) }}
                        {{ form_label(form.customer.email, null, {'label_attr':{'class': 'control-label'} }) }}
                        {{ form_widget(form.customer.email, {'attr': {'class': 'required validate-email fr_input_txt fr_97_5pro breite400 spaceForMandatoryMark form-control',
                        'placeholder': 'Customers email'} }) }}
                        <div class="mandatoryFieldMark">*</div>
                    </div>
                    <div class="checkbox">
                        <label>
                        {{ form_widget(form.customer.anonymous) }}
                        {{ form_label(form.customer.anonymous) }}
                        </label>
                    </div>
                    {#<p id='manual-example'>#}
                    <div class="form-group">
                        {{ form_label(form.customer.gender, null, {'label_attr':{'class': 'control-label'} }) }}
                        {#{{ form_widget(form.customer.gender, {'attr': {'class' : 'gender'} }) }}#}
                        <div class="row">
                            <div class="col-xs-3">
                                <div class="radio no-marg-top-bottom">
                                    {{ form_widget(form.customer.gender.0) }}
                                    {{ form_label(form.customer.gender.0) }}
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="radio no-marg-top-bottom">
                                    {{ form_widget(form.customer.gender.1) }}
                                    {{ form_label(form.customer.gender.1) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.customer.firstName, null, {'label_attr':{'class': 'control-label'} }) }}
                        {{ form_widget(form.customer.firstName, {'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.customer.lastName, null, {'label_attr':{'class': 'control-label'} }) }}
                        {{ form_widget(form.customer.lastName, {'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.customer.customerIdReference, null, {'label_attr':{'class': 'control-label'} }) }}
                        {{ form_widget(form.customer.customerIdReference, {'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.date, null, {'label_attr':{'class': 'control-label'} }) }}
                        <div class="form-group col-xs-4 no-pad-left">
                            {{ form_widget(form.date.year, {'attr': {'class': 'form-control'} }) }}
                        </div>
                        <div class="form-group col-xs-5">
                            {{ form_widget(form.date.month, {'attr': {'class': 'form-control'} }) }}
                        </div>
                        <div class="form-group col-xs-3 no-pad-right">
                            {{ form_widget(form.date.day, {'attr': {'class': 'form-control'} }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.serviceIdReference, null, {'label_attr':{'class': 'control-label'} }) }}
                        {{ form_widget(form.serviceIdReference, {'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.serviceProvider, null, {'label_attr':{'class': 'control-label'} }) }}
                        {{ form_widget(form.serviceProvider, {'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.serviceGroup, null, {'label_attr':{'class': 'control-label'} }) }}
                        {{ form_widget(form.serviceGroup, {'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.customer.salutation, null, {'label_attr':{'class': 'control-label'} }) }}
                        {{ form_widget(form.customer.salutation, {'attr': {'class': 'form-control'} }) }}
                    </div>
                    {#{{ form_row(form.customer.firstName) }}#}
                    {#{{ form_row(form.customer.lastName) }}#}
                    {#{{ form_row(form.customer.customerIdReference) }}#}
                    {#{{ form_row(form.date) }}#}
                    {#{{ form_row(form.serviceIdReference) }}#}
                    {#{{ form_row(form.serviceProvider) }}#}
                    {#{{ form_row(form.serviceGroup) }}#}
                    {#{{ form_row(form.customer.salutation) }}#}
                </div>
                <div class="form-group">
                    <input id="sendOut" class="btn btn-left orange abstandoben breite210 width100" value="{% trans %} Send {% endtrans %}" type="submit">
                </div>

                {{ form_end(form) }}
                <div class="mandatoryFieldText form-endnote text-center"><span class="mandatory-mark">*</span> {% trans %} indicates required fields {% endtrans %}</div>
            </div>

        </div>
    </div>


{% endblock %}