{% extends "::base.html.twig" %}

{% block title %}{% trans %} Welcome to MeinFeedback {% endtrans %}{% endblock %}

{% block body %}

    <!-- Contact Us -->
    <div>
        {% if added_email %}
        <div class="alert alert-success">
            <strong>{% trans %} Well done! {% endtrans %}</strong> {% trans %} Customer added {% endtrans %} ({{ added_email }})
            <a href="#" class="close" data-dismiss="alert">&times;</a>
        </div>
        {% endif %}
        <div class="row-fluid inner-page contact">
            <div class="span6">
                <div style="padding:20px 10px 15px 0; font-size: 24px; font-weight:300;">{% trans %} Customer Form {% endtrans %}</div>
                {{ form_start(form) }}
                {{ form_errors(form) }}
                <div>

                    <div style="width:300px">
                        {{ form_errors(form.email) }}
                        {{ form_widget(form.email, {'attr': {'class': 'required validate-email fr_input_txt fr_97_5pro breite490 spaceForMandatoryMark',
                        'placeholder': 'Customers email*'} }) }}
                        <div class="mandatoryFieldMark" style="float: right">*</div>
                    </div>
                    {{ form_label(form.anonymous) }}
                    <div style="display:block; width:50px">
                        {{ form_widget(form.anonymous) }}
                    </div>
                    <p id='manual-example'>
                    {{ form_label(form.gender) }}
                    {{ form_widget(form.gender, {'attr': {'class' : 'gender'} }) }}
                    {{ form_row(form.firstName) }}
                    {{ form_row(form.lastName) }}
                    {{ form_row(form.customerIdReference) }}
                    {{ form_row(form.service.0.date) }}
                    {{ form_row(form.service.0.description) }}
                    {{ form_row(form.service.0.serviceIdReference) }}
                    {{ form_row(form.salutation) }}
                </div>
                <div style="width:250px; padding-top:10px;">
                    <input id="sendOut" class="btn btn-left orange abstandoben breite210" value="{% trans %} Send {% endtrans %}" type="submit">
                </div>

                {{ form_end(form) }}
                <div class="mandatoryFieldText">* {% trans %} indicates required fields {% endtrans %}</div>
            </div>

        </div>
    </div>


{% endblock %}