{% extends "MFBAdminBundle::base.html.twig" %}

{% block title %}{% trans %} Welcome to MeinFeedback {% endtrans %}{% endblock %}

{% block content %}

    <!-- Contact Us -->
    <div class="formular container modal-spacing">
        {% if customerEmail %}
        <div class="alert alert-success">
            <strong>{% trans %} Well done! {% endtrans %}</strong> {% trans %} Customer added {% endtrans %} ({{ customerEmail }})
            <a href="#" class="close" data-dismiss="alert">&times;</a>
        </div>
        {% endif %}
        <div class="row-fluid inner-page contact">
            <div class="span6">
                <h3 class="text-center form-header">{% trans %} Customer Form {% endtrans %}</h3>
                {{ form_start(form) }}
                {{ form_errors(form) }}
                <div>
                    <div style="width:300px">
                        {{ form_errors(form.customer.email) }}
                        {{ form_widget(form.customer.email, {'attr': {'class': 'required validate-email fr_input_txt fr_97_5pro breite400 spaceForMandatoryMark',
                        'placeholder': 'Customers email*'} }) }}
                        <div class="mandatoryFieldMark" style="float: right">*</div>
                    </div>
                    {{ form_label(form.customer.anonymous) }}
                    <div style="display:block; width:50px">
                        {{ form_widget(form.customer.anonymous) }}
                    </div>
                    <p id='manual-example'>
                    {{ form_label(form.customer.gender) }}
                    {{ form_widget(form.customer.gender, {'attr': {'class' : 'gender'} }) }}
                    {{ form_row(form.customer.firstName) }}
                    {{ form_row(form.customer.lastName) }}
                    {{ form_row(form.customer.customerIdReference) }}
                    {{ form_row(form.date) }}
                    {{ form_row(form.serviceIdReference) }}
                    {{ form_row(form.serviceProvider) }}
                    {{ form_row(form.serviceGroup) }}
                    {{ form_row(form.customer.salutation) }}
                </div>
                <div style="width:250px; padding-top:10px;">
                    <input id="sendOut" class="btn btn-left orange abstandoben breite210" value="{% trans %} Send {% endtrans %}" type="submit">
                </div>

                {{ form_end(form) }}
                <div class="mandatoryFieldText">* {% trans %} indicates required fields {% endtrans %}</div>
            </div>

        </div>
    </div>


{% endblock %}