{% extends 'MFBAdminBundle::base.html.twig' %}

{% block title %}{% trans %} Form Setup {% endtrans %}{% endblock %}

{% block content %}
<div>
    <div class="row-fluid inner-page navLogo">
        <div class="span12">

            <div id="selectRatingCriteria">
                <div class="sectionTitle">
                    {% trans %} Add Rating Criteria {% endtrans %}
                </div>

                <div class="title">{% trans %} The following rating criteria was added {% endtrans %}</div>
                <div class="sectionIdent">
                    <ol>
                        {% for criteria in channelRatingCriterias %}
                        <li>
                            {{ criteria.getRatingCriteria.getName }}
                        </li>
                        {% endfor %}
                    </ol>
                </div>

                <div class="title">{% trans %} Add rating criteria {% endtrans %}</div>
                <div class="sectionIdent">
                    {{ form_start(ratingSelectionForm) }}
                    <div class="errorMessage">{{ form_errors(ratingSelectionForm) }}</div>
                    {{ form_widget(ratingSelectionForm.ratingCriteria) }}
                </div>
                {{ form_row(ratingSelectionForm.submit, {'attr' : {'class': 'btn btn-left orange abstandoben breite130 addButton'} } ) }}
                {{ form_end(ratingSelectionForm) }}
            </div>


            <div id="displayServiceTypesProviders" class="section">
                <div class="sectionTitle">
                    {% trans %} Change Service Visibility {% endtrans %}
                </div>

                {{ form_start(channelServicesForm) }}

                <div class="serviceType sectionIdent">
                    <div class="title">{% trans %} Service Providers {% endtrans %}</div>
                    <table>
                        {% for serviceProvider in channelServicesForm.serviceProvider %}
                            <tr>
                                <td><label>{{  serviceProvider.firstname.vars.value }} {{  serviceProvider.lastname.vars.value }}</label></td>
                                <td>{{ form_widget(serviceProvider.visibility) }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>

                <div class="serviceType sectionIdent">
                    <div class="title">{% trans %} Service Types {% endtrans %}</div>
                    <table>
                    {% for serviceGroup in channelServicesForm.serviceGroup %}
                        <tr>
                            <td><label>{{  serviceGroup.name.vars.value }}</label></td>
                            <td>{{ form_widget(serviceGroup.visibility) }}</td>
                        </tr>
                    {% endfor %}
                    </table>
                </div>
                <div style="clear:both"></div>

                {{ form_row(channelServicesForm.submit, {'attr' : {'class': 'btn btn-left orange abstandoben breite210'} } ) }}

                <div class="hidden">
                    {{ form_rest(channelServicesForm) }}
                </div>

                {{ form_end(channelServicesForm) }}

            </div>

            <div id="addServiceProvider" class="section">
                <div class="sectionTitle">
                    {% trans %} Add Service Type {% endtrans %}
                </div>
                <div class="sectionIdent">
                    {{ form_start(serviceGroupForm) }}

                    {{ form_row(serviceGroupForm.name, {'attr': {'class': 'breite400', 'style': 'display:block'} } ) }}

                </div>
                <div style="width:250px; padding-top:10px;">
                    {{ form_row(serviceGroupForm.save, {'attr': {'class': 'btn btn-left orange abstandoben breite210'} }) }}
                </div>

                {{ form_end(serviceGroupForm) }}
            </div>

            <div style="margin-top: 35px" class="section">
                <div class="sectionTitle">
                    {% trans %} Add Service Provider {% endtrans %}
                </div>

                <div class="sectionIdent">
                    {{ form_start(serviceProviderForm) }}

                    {{ form_row(serviceProviderForm.firstname, {'attr': {'class': 'breite400', 'style': 'display:block'} } ) }}
                    {{ form_row(serviceProviderForm.lastname, {'attr': {'class': 'breite400', 'style': 'display:block'} } ) }}

                </div>
                <div style="width:250px; padding-top:10px;">
                    {{ form_row(serviceProviderForm.save, {'attr': {'class': 'btn btn-left orange abstandoben breite210'} }) }}
                </div>
                {{ form_end(serviceProviderForm) }}
            </div>
        </div>
    </div>
</div>


{% endblock %}