{% extends 'MFBAdminBundle::base.html.twig' %}
{% form_theme serviceProviderForm "MeinFeedbackHomeBundle:Form:form_theme.html.twig" %}

{% block title %}{% trans %} Form Setup {% endtrans %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row-fluid inner-page navLogo">
        <div class="col-xs-6">
            <div class="modal-spacing">
                <div id="selectRatingCriteria">
                    {% if errors|length > 0 %}
                        <div class="alert alert-info">
                            {{ errors[0] }}
                        </div>
                    {% endif %}
                    <h3 class="form-header mb10">
                        {% trans %} Add Rating Criteria {% endtrans %}
                    </h3>

                    <div class="title">{% trans %} The following rating criterias were added {% endtrans %}</div>
                    <div class="sectionIdent">
                        <ol>
                            {% for criteria in channelRatingCriterias %}
                            <li>
                                {{ criteria.getRatingCriteria.getName }}
                            </li>
                            {% endfor %}
                        </ol>
                    </div>

                    {% if channelRatingCriterias|length < criteriaLimit %}
                    <div class="title">{% trans %} Add rating criteria {% endtrans %}</div>
                    <div class="sectionIdent">
                        {{ form_start(ratingSelectionForm) }}
                        <div class="errorMessage">{{ form_errors(ratingSelectionForm) }}</div>
                        {{ form_widget(ratingSelectionForm.ratingCriteria) }}
                    </div>
                    {{ form_row(ratingSelectionForm.submit, {'attr' : {'class': 'btn btn-left orange abstandoben breite130 addButton'} } ) }}
                    {{ form_end(ratingSelectionForm) }}
                    {% endif %}
                </div>

                <div id="displayServiceTypesProviders" class="section mt50">
                    <h3 class="form-header mb10">
                        {% trans %} Change Service Visibility {% endtrans %}
                    </h3>

                    {{ form_start(channelServicesForm) }}

                    <div class="serviceType sectionIdent">
                        <div class="title">{% trans %} Service Providers {% endtrans %}</div>
                        {% for serviceProvider in channelServicesForm.serviceProvider %}
                            <div class="checkbox">
                                <label>
                                    {{ form_widget(serviceProvider.visibility) }} {{ serviceProvider.prefix.vars.label }} {{  serviceProvider.firstname.vars.value }} {{  serviceProvider.lastname.vars.value }}
                                </label>
                            </div>
                        {% endfor %}
                    </div>

                    <div class="serviceType sectionIdent">
                        <div class="title">{% trans %} Service Types {% endtrans %}</div>
                        {% for serviceGroup in channelServicesForm.serviceGroup %}
                            <div class="checkbox">
                                <label>
                                    {{ form_widget(serviceGroup.visibility) }} {{  serviceGroup.name.vars.value }}
                                </label>
                            </div>
                        {% endfor %}
                    </div>

                    {{ form_row(channelServicesForm.submit, {'attr' : {'class': 'btn btn-left orange abstandoben breite210'} } ) }}

                    <div class="hidden">
                        {{ form_rest(channelServicesForm) }}
                    </div>

                    {{ form_end(channelServicesForm) }}

                </div>
            </div>
        </div>

        <div class="col-xs-6">
            <div class="modal-spacing">
                <div id="addServiceProvider" class="section">
                    <h3 class="form-header mb10">
                        {% trans %} Add Service Type {% endtrans %}
                    </h3>
                    <div class="sectionIdent">
                        {{ form_start(serviceGroupForm) }}
                        <div class="form-group">
                            {{ form_label(serviceGroupForm.name, null, {'label_attr':{'class': 'control-label'} }) }}
                            {{ form_widget(serviceGroupForm.name, {'attr': {'class': 'form-control'} }) }}
                        </div>
                        <div class="form-group">
                            {{ form_row(serviceGroupForm.save, {'attr': {'class': 'btn btn-left orange abstandoben breite210'} }) }}
                        </div>

                        {{ form_end(serviceGroupForm) }}
                    </div>
                </div>

                <div class="section mt50">
                    <h3 class="form-header mb10">
                        {% trans %} Add Service Provider {% endtrans %}
                    </h3>

                    {{ form_errors(serviceProviderForm) }}
                    <div class="sectionIdent">
                        {{ form_start(serviceProviderForm) }}
                        <div class="form-group">
                            {{ form_label(serviceProviderForm.prefix, null, {'label_attr':{'class': 'control-label'} }) }}
                            <div class="input-group">
                                {% for title in serviceProviderForm.prefix %}
                                    <label class="radio-inline">
                                        {{ form_widget(title, {'attr': {'class': 'radio'} }) }} {{ title.vars.label }}
                                    </label>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="form-group">
                            {{ form_label(serviceProviderForm.firstname, null, {'label_attr':{'class': 'control-label'} }) }}
                            {{ form_widget(serviceProviderForm.firstname, {'attr': {'class': 'form-control'} }) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(serviceProviderForm.lastname, null, {'label_attr':{'class': 'control-label'} }) }}
                            {{ form_widget(serviceProviderForm.lastname, {'attr': {'class': 'form-control'} }) }}
                        </div>


                        <div class="form-group">
                            {{ form_row(serviceProviderForm.save, {'attr': {'class': 'btn btn-left orange abstandoben breite210'} }) }}
                        </div>
                        {{ form_end(serviceProviderForm) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}