{% extends 'MFBAdminBundle::base.html.twig' %}

{% block title %}{% trans %} Form Setup {% endtrans %}{% endblock %}

{% block content %}
<div>
    <div class="row-fluid inner-page navLogo">
        <div class="span12">

            <div id="displayServiceTypesProviders">
                <div class="sectionTitle">
                    {% trans %} Service Types and Providers {% endtrans %}
                </div>

                {{ form_start(channelServicesForm) }}

                <div class="serviceType">
                    {% for serviceProvider in channelServicesForm.serviceProvider %}
                        <div style="display:block">
                            <label>{{  serviceProvider.firstname.vars.value }} {{  serviceProvider.lastname.vars.value }}</label>
                            {{ form_widget(serviceProvider.visibility) }}
                        </div>
                    {% endfor %}
                </div>

                <div class="serviceType">
                    {% for serviceGroup in channelServicesForm.serviceGroup %}
                        <div style="display:block">
                            <label>{{  serviceGroup.name.vars.value }}</label>
                            {{ form_widget(serviceGroup.visibility) }}
                        </div>
                    {% endfor %}
                </div>
                <div style="clear:both"></div>

                {{ form_row(channelServicesForm.submit, {'attr' : {'class': 'btn btn-left orange abstandoben breite210'} } ) }}

                <div class="hidden">
                    {{ form_rest(channelServicesForm) }}
                </div>

                {{ form_end(channelServicesForm) }}

            </div>

            <div id="addServiceProvider">
                <div class="sectionTitle">
                    {% trans %} Add Service Type {% endtrans %}
                </div>
                {{ form_start(serviceGroupForm) }}

                {{ form_row(serviceGroupForm.name, {'attr': {'class': 'breite400', 'style': 'display:block'} } ) }}

                <div style="width:250px; padding-top:10px;">
                    {{ form_row(serviceGroupForm.save, {'attr': {'class': 'btn btn-left orange abstandoben breite210'} }) }}
                </div>

                {{ form_end(serviceGroupForm) }}
            </div>

            <div style="margin-top: 35px">
                <div class="sectionTitle">
                    {% trans %} Add Service Provider {% endtrans %}
                </div>
                {{ form_start(serviceProviderForm) }}

                {{ form_row(serviceProviderForm.firstname, {'attr': {'class': 'breite400', 'style': 'display:block'} } ) }}
                {{ form_row(serviceProviderForm.lastname, {'attr': {'class': 'breite400', 'style': 'display:block'} } ) }}

                <div style="width:250px; padding-top:10px;">
                    {{ form_row(serviceProviderForm.save, {'attr': {'class': 'btn btn-left orange abstandoben breite210'} }) }}
                </div>
                {{ form_end(serviceProviderForm) }}
            </div>
        </div>
    </div>
</div>


{% endblock %}