{% extends "MFBAdminBundle::base.html.twig" %}

{% block javascripts %}
    <script>
         var  initial_vars = {"sort_feedback_uri": "{{ path("mfb_feedback_sort") }}" }
    </script>
    {{ parent() }}
    <script src="//code.jquery.com/ui/1.9.1/jquery-ui.js"></script>
{% endblock %}

{% block title %}{% trans %} Welcome to MeinFeedback {% endtrans %}{% endblock %}

{% block content %}

    <div class="container">
    <h3 >{% trans %} aktuelle Feedbacks {% endtrans %}</h3>

    <ul class="stars_rating channel-ratings not-nested">
        {% for ratingCriteria in channelRatingSummaryList %}
            <li>
                <div class="rating-title {% if ratingCriteria.getName == 'Overall' %} overall {% endif %}">
                    {{ ratingCriteria.getName }}
                </div>
                <div class="rating-stars">
                    <div class="stars_gray_small">
                        <span style="width: {{ ratingCriteria.getRating * 20 }}%;" class="stars_gold_small"></span>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </li>
        {% endfor %}
    </ul>
    <div>Total active feedbacks: {{ ratingCount }}</div>

    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            <strong>{% trans %} Success! {% endtrans %}</strong>
            {{ flashMessage }}
            <a href="#" class="close" data-dismiss="alert">&times;</a>
        </div>
    {% endfor %}
    <div>
            {% if  feedbackSummaryPage.getItemsCount > 0 %}
            <form action="{{ path("mfb_save_feedback_activation") }}" method="post" id="login" class="form-inline" >
                <div>
                    <div class="activeFeedbackTitle">{% trans %} Show {% endtrans %}</div>
                </div>

                <ul id="sortable" class="not-nested individual-feedback">
                {% for feedbackSummaryItem in feedbackSummaryPage.getItems %}
                    {% set feedback = feedbackSummaryItem.getFeedback %}
                    <li class="ui-state-default" id="item_order_{{ feedback.getId }}" >
                        <div class="username">
                            {% if (feedback.getCustomer.getFirstName) and (feedback.getCustomer.getAnonymous == false) %}
                                {{ feedback.getCustomer.getFirstName }}
                            {% else %}
                                {% trans %} Anonymous says: {% endtrans %}
                            {% endif %}
                        </div>
                        <div class="col-xs-4">
                            <ul class="stars_rating not-nested">
                                {% for ratingCriteria in feedbackSummaryItem.getRatings %}
                                    {% if ratingCriteria.getRating > 0 %}
                                        <li>
                                            <div class="rating-title feedback-ratings {% if ratingCriteria.getName == 'Overall' %} overall {% endif %}">
                                                {{ ratingCriteria.getName }}
                                            </div>
                                            <div class="rating-stars">
                                                <div class="stars_gray_small">
                                                    <span style="width: {{ ratingCriteria.getRating * 20 }}%;" class="stars_gold_small"></span>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>

                        {#<div class="service-pane">#}
                            <div class="service-info col-xs-2 col-xs-offset-4">
                                <div class="service-title"> {% trans %} Service Provider {% endtrans %}</div>
                                <div> {{ feedbackSummaryItem.getServiceProviderInfo }} </div>
                            </div>

                            <div class="service-info col-xs-2">
                                <div class="service-title"> {% trans %} Service Type {% endtrans %}</div>
                                <div> {{ feedbackSummaryItem.getServiceTypeName}} </div>
                            </div>
                        {#</div>#}
                        <div class="clearfix"></div>
                        <div style="margin-top: 20px;">
                            {#<img src="{{ asset('bundles/meinfeedbackhome/images/comment_piece_top.png') }}" width="14" height="12" class="comment-piece-top">#}

                            {#<table border="0" cellspacing="0" cellpadding="0" class="admin box-comment" >#}
                                {#<tbody>#}
                                    {#<tr>#}
                                    {#<td width="80%" style="padding:10px;">#}
                            <div class="row feedback-wrap">
                                <img src="{{ asset('bundles/meinfeedbackhome/images/comment_top.png') }}" width="16" height="10" class="comment-top"/>
                                <div class="col-xs-10">
                                        <span class="comment-text left" itemprop="description">
                                            {{ feedback.content }}
                                        </span>
                                </div>
                                    {#</td>#}
                                    {#<td align="right" valign="top" nowrap="nowrap" style="padding:10px;">#}
                                <div class="col-xs-2">
                                            <span title="{{ feedback.createdAt|date('Y-m-d') }}" class="timeago">{{ feedback.createdAt|date('D, d. M. Y, H:i') }}</span>
                                </div>
                                    {#</td>#}
                                {#</tr>#}
                                {#</tbody>#}
                            {#</table>#}
                            </div>
                        <div class="fr input-block enable-comment box-comment">
                            <input type="checkbox" name="activate[{{ feedback.id }}]" value="1" {%  if feedback.isEnabled  == 1 %}checked="checked"{%  endif  %}>
                        </div>
                        </div>
                    </li>
                {% endfor %}
                    <input id="sendOut" class="adminFeedback btn btn-left orange abstandoben breite180" value="{% trans %} Active {% endtrans %}" type="submit">
                </ul>
            </form>
        {% else %}
            {% trans %} No feedbacks yet. {% endtrans %}
        {% endif %}
    </div>
    </div>
{% endblock %}