{% extends "MFBAdminBundle::base.html.twig" %}

{% block title %}{% trans %} Welcome to MeinFeedback {% endtrans %}{% endblock %}

{% block content %}

    <h3 style="margin-top: 50px; margin-left: 20px">{% trans %} aktuelle Feedbacks {% endtrans %}</h3>


    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            <strong>{% trans %} Success! {% endtrans %}</strong>
            {{ flashMessage }}
            <a href="#" class="close" data-dismiss="alert">&times;</a>
        </div>
    {% endfor %}

    <div style="padding:10px">

        {% if  feedbackList|length > 0 %}

        <form action="{{ path("mfb_admin_homepage") }}" method="post" id="login" class="form-inline" >
        <div style="width: 700px">
            <div style="float: right">{% trans %} Active {% endtrans %}</div>
        </div>
        {% for feedback in feedbackList %}

            {%  if feedback.rating %}
            <div class="stars_rating">
                <div class="stars_gray_small">
                    <span style="width: {{ feedback.rating * 20 }}%;" class="stars_gold_small"></span>
                </div>
                <div class="clearfix"></div>
            </div>
            {% endif %}

            <table width="700px" border="0" cellspacing="0" cellpadding="0" class="box-comment" >
                <tbody>
                    <tr>
                    <td width="80%" style="padding:10px;">
                        <span class="comment-text left" itemprop="description">
                            {{ feedback.content }}
                        </span>
                    </td>
                    <td align="right" valign="top" nowrap="nowrap" style="padding:10px;">
                        <time itemprop="datePublished" datetime="{{ feedback.createdAt|date('c') }}">
                            <span title="{{ feedback.createdAt|date('Y-m-d') }}" class="timeago">{{ feedback.createdAt|date('Y-m-d') }}</span>
                        </time>

                    </td>
                    <td>
                        <div style="float: right"><input type="checkbox" name="activate[{{ feedback.id }}]" value="1" {%  if feedback.isEnabled  == 1 %}checked="checked"{%  endif  %}></div>
                    </td>
                </tr>
                </tbody>
            </table>

            <img src="{{ asset('bundles/meinfeedbackhome/images/comment_piece.png') }}" width="14" height="12" class="comment-piece">
            <div class="username">{% trans %} Anonymous says: {% endtrans %}</div>


        {% endfor %}
            <input id="sendOut" class="btn btn-left orange abstandoben breite180" value="Anmelden" type="submit">
        </form>
        {% else %}
            {% trans %} No feedbacks yet. {% endtrans %}
        {% endif %}
    </div>
{% endblock %}