{% extends "MFBAdminBundle::base.html.twig" %}

{% block javascripts %}
    <script>
         var  initial_vars = {"sort_feedback_uri": "{{ path("mfb_feedback_sort") }}" }
    </script>
    {{ parent() }}
    <script src="//code.jquery.com/ui/1.9.1/jquery-ui.js"></script>
{% endblock %}

{% block title %}{% trans %} Welcome to MeinFeedback {% endtrans %}{% endblock %}

{% block content %}

    <h3 style="margin-top: 90px; margin-left: 20px">{% trans %} aktuelle Feedbacks {% endtrans %}</h3>

    {% if ratingAverage > 0 %}
        <div style="margin-left: 20px">Active ratings average: {{ ratingAverage }}</div>
    {% endif %}
    <div style="margin-left: 20px">Total active feedbacks: {{ ratingCount }}</div>

    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            <strong>{% trans %} Success! {% endtrans %}</strong>
            {{ flashMessage }}
            <a href="#" class="close" data-dismiss="alert">&times;</a>
        </div>
    {% endfor %}

    <div>

            {% if  feedbackSummaryList|length > 0 %}
            <form action="{{ path("mfb_admin_homepage") }}" method="post" id="login" class="form-inline" >
                <div style="width: 740px">
                    <div class="activeFeedbackTitle">{% trans %} Show {% endtrans %}</div>
                </div>

                <ul id="sortable" style="width: 720px">
                {% for feedbackSummary in feedbackSummaryList %}
                    {% set feedback = feedbackSummary.getFeedback %}
                    <li class="ui-state-default" id="item_order_{{ feedback.getId }}" >
                        <div class="username">
                            {% if (feedback.getCustomer.getFirstName) and (feedback.getCustomer.getAnonymous == false) %}
                                {{ feedback.getCustomer.getFirstName }}
                            {% else %}
                                {% trans %} Anonymous says: {% endtrans %}
                            {% endif %}
                        </div>

                        {%  if feedbackSummary.getRating %}
                            <div class="stars_rating">
                                <div class="stars_gray_small">
                                    <span style="width: {{ feedbackSummary.getRating * 20 }}%;" class="stars_gold_small"></span>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        {% endif %}

                        <img src="{{ asset('bundles/meinfeedbackhome/images/comment_piece_top.png') }}" width="14" height="12" class="comment-piece-top">

                        <table border="0" cellspacing="0" cellpadding="0" class="admin box-comment" >
                            <tbody>
                                <tr>
                                <td width="80%" style="padding:10px;">
                                    <span class="comment-text left" itemprop="description">
                                        {{ feedback.content }}
                                    </span>
                                </td>
                                <td align="right" valign="top" nowrap="nowrap" style="padding:10px;">
                                        <span title="{{ feedback.createdAt|date('Y-m-d') }}" class="timeago">{{ feedback.createdAt|date('D, d. M. Y, H:i') }}</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <div class="fr input-block enable-comment box-comment">
                            <input type="checkbox" name="activate[{{ feedback.id }}]" value="1" {%  if feedback.isEnabled  == 1 %}checked="checked"{%  endif  %}>
                        </div>
                    </li>
                {% endfor %}
                    <input id="sendOut" class="adminFeedback btn btn-left orange abstandoben breite180" value="{% trans %} Active {% endtrans %}" type="submit">
                </ul>
            </form>
        {% else %}
            {% trans %} No feedbacks yet. {% endtrans %}
        {% endif %}
    </div>
{% endblock %}