{% extends "::base.html.twig" %}

{% block title %}Welcome to MeinFeedback{% endblock %}

{% block body %}
    <!-- Brand and Navigation -->
    <header class="navbar navbar-fixed-top">
        <div class="inner-page">
            <h1 class="logo"><img src="{{ asset('bundles/meinfeedbackhome/images/logo.png') }}"/></h1>
            <a class="btn-nav" data-toggle="collapse" data-target=".nav-collapse"> <i class="icon-reorder"></i> </a>


            <div class="nav-collapse collapse">
                <ul class="nav navigation" id="menu">
                    <li class="active"><a title="Start" class="scroll brand-1" href="#home">Dashboard</a></li>
                    <li><a title="Location" href="{{ path('mfb_location') }}" class="scroll fadeto brand-4 iframe" rel="nofollow">Location</a></li>
                    <li><a title="Add customer" href="{{ path('mfb_add_customer') }}" class="scroll fadeto brand-4 iframe" rel="nofollow">Add Customer</a></li>
                    <li><a title="Logout" href="{{ path('mfb_admin_logout') }}" class="scroll fadeto brand-4" rel="nofollow">Logout</a></li>
                </ul>
            </div>

        </div>
    </header>

    <!-- Home Page -->

    <h3 style="margin-top: 50px; margin-left: 20px">aktuelle Feedbacks</h3>

    <div style="padding:10px">
        <table width="700px" border="0" cellspacing="0" cellpadding="0" class="box-comment" >
            <tbody><tr>
                <td width="80%" style="padding:10px;">
            <span class="comment-text left" itemprop="description">
                Sehr schnelle Lieferung.
            </span>
                </td>

                <td align="right" valign="top" nowrap="nowrap" style="padding:10px;">
                    <time itemprop="datePublished" datetime="2013-08-19T21-41-51">
                        <span title="2013-08-19" class="timeago">1 day ago</span>
                    </time>
                </td>
            </tr>
            </tbody></table>
        <img src="{{ asset('bundles/meinfeedbackhome/images/comment_piece.png') }}" width="14" height="12" class="comment-piece">
        <div class="username">Anonymous [1] says:</div>

                <table width="700px" border="0" cellspacing="0" cellpadding="0" class="box-comment" >
                    <tbody><tr>
                        <td width="80%" style="padding:10px;">
            <span class="comment-text left" itemprop="description">
                Wäre es ein kleiner Artikel würde ich ihn zum Umtausch zurückschicken.
Hätte ich nicht per Nachnahme bezahlt, hätte ich auf jeden Fall um einen Nachlass gebeten.
Aufhängematerial (Dübel und Haken) haben gefeht.
Aufhängematerial (Dübel und Aufhängehaken) waren leider nicht im Paket.
            </span>
                        </td>

                        <td align="right" valign="top" nowrap="nowrap" style="padding:10px;">
                            <time itemprop="datePublished" datetime="2013-08-19T21-41-51">
                                <span title="2013-08-19" class="timeago">2 days ago</span>
                            </time>
                        </td>
                    </tr>
                    </tbody></table>
                <img src="{{ asset('bundles/meinfeedbackhome/images/comment_piece.png') }}" width="14" height="12" class="comment-piece">
                <div class="username">Anonymous [2] says:</div>


                    <div style="padding:10px 0 10px 0">
                        <table width="700px" border="0" cellspacing="0" cellpadding="0" class="box-comment" >
                            <tbody><tr>
                                <td width="80%" style="padding:10px;">
            <span class="comment-text left" itemprop="description">
                Unkompliziert.
            </span>
                                </td>

                                <td align="right" valign="top" nowrap="nowrap" style="padding:10px;">
                                    <time itemprop="datePublished" datetime="2013-08-19T21-41-51">
                                        <span title="2013-08-19" class="timeago">3 days ago</span>
                                    </time>
                                </td>
                            </tr>
                            </tbody></table>
                        <img src="{{ asset('bundles/meinfeedbackhome/images/comment_piece.png') }}" width="14" height="12" class="comment-piece">
                        <div class="username">Anonymous [3] says:</div>

                    </div>
    </div>
{% endblock %}