{% extends 'MFBAdminBundle::base.html.twig' %}
{% form_theme form "MeinFeedbackHomeBundle:Form:form_widget_mandatory.html.twig" %}

{% block title %}Welcome to MeinFeedback{% endblock %}

{% block content %}

    <div class="formular container modal-spacing">
        <h3 class="text-center form-header">{% trans %} Places setting {% endtrans %}</h3>
        <div class="places">


            {{ form_start(form, {'attr':{'target':'_top', 'class': 'form-horizontal'} }) }}
            {{ form_errors(form) }}

            {#<form id="" action="assets/img/joker.png" enctype="multipart/form-data" class="form-inline">#}

            <div class="form-group">
                <div class="col-xs-12">
                    {{ form_widget(form.name, {'attr': {'class': 'required fr_input_txt fr_97_5pro popupInput form-control', 'placeholder': 'Firma'} }) }}
                    {{ form_errors(form.name) }}
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-12">
                    {{ form_widget(form.city, {'attr': {'class': 'required fr_input_txt fr_97_5pro partial_address form-control', 'placeholder': 'Stadt'} }) }}
                    {{ form_errors(form.city) }}
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-8">
                    {{ form_widget(form.street, {'attr': {'class': 'required fr_input_txt fr_97_5pro partial_address form-control', 'placeholder': 'Straße'} }) }}
                    {{ form_errors(form.street) }}
                </div>
                <div class="col-xs-4">
                    {{ form_widget(form.place, {'attr': {'class': 'required fr_input_txt fr_97_5pro partial_address form-control', 'placeholder': 'PLZ'} }) }}
                    {{ form_errors(form.place) }}
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-12">
                    {{ form_widget(form.homepageUrl, {'attr': {'class': 'required fr_input_txt fr_97_5pro popupInput form-control', 'placeholder': 'homepage.de'} }) }}
                    {{ form_errors(form.homepageUrl) }}
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-12">
                    {{ form_widget(form.phoneNumber, {'attr': {'class': 'fr_input_txt fr_97_5pro popupInput form-control', 'placeholder': 'Telefon'} }) }}
                    {{ form_errors(form.phoneNumber) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.country, null, {'label_attr':{'class': 'col-xs-3 control-label'} }) }}
                <div class="col-xs-9">
                    {{ form_widget(form.country, {'attr': {'class': 'form-control',} }) }}
                </div>
                {{ form_errors(form.country) }}
            </div>

            <div class="form-group">
                <div class="col-xs-12">
                    <input id="sendOut" class="btn btn-left orange abstandoben breite210 width100" value="{% trans %} Save {% endtrans %}" type="submit">
                </div>
            </div>

            {{ form_widget(form.redirect, {'attr':{'class': 'redirectUrl'} }) }}
            {{ form_end(form) }}

            <div class="mandatoryFieldText form-endnote text-center"><span class="mandatory-mark">*</span> {% trans %} indicates required fields {% endtrans %}</div>
        </div>

    </div>

{% endblock %}