{% extends "::base.html.twig" %}

{% block title %}Welcome to MeinFeedback{% endblock %}

{% block body %}

    <div class="formular">
        <div style="padding:20px 10px 15px 0; font-size: 24px; font-weight:300;">{% trans %} Places setting {% endtrans %}</div>
        <div class="places">


            {{ form_start(form) }}
            {{ form_errors(form) }}

            {#<form id="" action="assets/img/joker.png" enctype="multipart/form-data" class="form-inline">#}

            <div>
                {{ form_widget(form.name, {'attr': {'class': 'required fr_input_txt fr_97_5pro breite490', 'placeholder': 'Firma*'} }) }}
                {{ form_errors(form.name) }}
                <div class="mandatoryFieldMark locationFieldMark">*</div>
            </div>


            <div>
                {{ form_widget(form.street, {'attr': {'class': 'required fr_input_txt fr_97_5pro partial_input3', 'placeholder': 'Straße*'} }) }}
                {{ form_errors(form.street) }}

                {{ form_widget(form.place, {'attr': {'class': 'required fr_input_txt fr_97_5pro partial_input3', 'placeholder': 'PLZ*'} }) }}
                {{ form_errors(form.place) }}

                {{ form_widget(form.city, {'attr': {'class': 'required fr_input_txt fr_97_5pro partial_input3', 'placeholder': 'Stadt*'} }) }}
                {{ form_errors(form.city) }}
                <div class="mandatoryFieldMark locationFieldMark">*</div>
            </div>

            <div>
                {{ form_widget(form.homepageUrl, {'attr': {'class': 'required fr_input_txt fr_97_5pro breite490', 'placeholder': 'homepage.de'} }) }}
                {{ form_errors(form.homepageUrl) }}
                <div class="mandatoryFieldMark locationFieldMark">*</div>
            </div>

            <div>
                {{ form_widget(form.phoneNumber, {'attr': {'class': 'fr_input_txt fr_97_5pro breite490', 'placeholder': '+567000000'} }) }}
                {{ form_errors(form.phoneNumber) }}
            </div>

            <div style="margin: 10px 0px">
                {{ form_label(form.ratingsEnabled) }}
                {{ form_widget(form.ratingsEnabled) }}
                {{ form_errors(form.ratingsEnabled) }}
            </div>

            <div style="margin: 10px 0px">
                {{ form_label(form.country) }}
                {{ form_widget(form.country) }}
                {{ form_errors(form.country) }}
            </div>

            <input id="sendOut" class="btn btn-left orange abstandoben breite210" value="{% trans %} Save {% endtrans %}" type="submit">

            {{ form_end(form) }}

            <div class="mandatoryFieldText">* {% trans %} indicates required fields {% endtrans %}</div>
        </div>

    </div>

{% endblock %}