<div style="margin-top: 10px">
<div style="padding:20px 10px 15px 0; font-size: 24px; font-weight:300; text-align: center">{{ title }}</div>
<div class="iconDisplay">
    <a href={{ url('mein_feedback_home_homepage') }} target='_blank'><img src="{{ iconImage }}"></a>
</div>
    <a target='_blank' href=http://meinfeedback.vm/app_dev.php/>
        <img src="http://meinfeedback.vm/bundles/meinfeedbackhome/images/mf_light_de.png"> </a>
<div class="iconCode">
    <textarea>{% verbatim %} <a target='_blank' href={% endverbatim %}{{ url('mein_feedback_home_homepage') }}{% verbatim %}>
            <img src="{% endverbatim %}{{ iconImage }}{% verbatim %}"> </a>{% endverbatim %}
    </textarea>
</div>
</div>
<div style="clear:both"></div>
