{% extends "::base.html.twig" %}

{% block title %}Welcome to MeinFeedback{% endblock %}

{% block body %}

    <div class="formular_left">
        <div style="padding:20px 10px 15px 0; font-size: 24px; font-weight:300;">Widget</div>
        <div class="widgetDisplay">
            <img src="{{ testWidgetImage }}" usemap="#widgetmap">
            <map name="widgetmap">
                <area shape="rect" coords="0,0,270,265" href="{{ testWidgetLink }}" target="_blank"/>
                <area shape="rect" coords="0,270,270,300" href="{{ testInviteUrl }}" target="_blank"/>
            </map>
        </div>

        <div class="widgetCode">
<textarea>{% raw %} <img src=" {% endraw %} {{ widgetImage }} {% raw %} " usemap="#widgetmap">
    <map name="widgetmap"> {% endraw %}
        {% raw %} <area shape="rect" coords="0,0,270,265" href=" {% endraw %} {{ widgetLink }} {% raw %} " target="_blank"/>
        <area shape="rect" coords="0,270,270,300" href="{% endraw %} {{ inviteUrl }} {% raw %} " target="_blank"/>
     </map> {% endraw %}</textarea>
        </div>
    </div>

{% endblock %}