{% extends "::base.html.twig" %}

{% block title %}Welcome to MeinFeedback{% endblock %}

{% block body %}

    <div class="formular_left">
        <div style="padding:20px 10px 15px 0; font-size: 24px; font-weight:300;">Widget</div>
        <div class="widgetDisplay">
            <img src="{{ testWidgetImage }}" usemap="#widgetmap">
            <map name="widgetmap">
                <area shape="rect" coords="0,0,193,193" href="{{ testWidgetLink }}" >
                <area shape="rect" coords="0,193,270,270" href="{{ inviteUrl }}">
            </map>
        </div>

        <div class="widgetCode">
            <textarea>{% raw %}<a href="{% endraw %}{{ widgetLink }}{% raw %}" target="_blank"><img src="{% endraw %}{{ widgetImage }}{% raw %}"></a>{% endraw %}</textarea>
        </div>
    </div>

{% endblock %}