{% extends "MFBAdminBundle:SetupWizard:formSetupBase.html.twig" %}
{% form_theme form "MeinFeedbackHomeBundle:Form:form_theme.html.twig" %}

{% block title %}Setup wizard{% endblock %}

{% block formContent %}

<div class="formular container modal-spacing">
    <h3 class="text-center form-header">{% trans %} Insert service definitions {% endtrans %}</h3>

    {{ form_start(form) }}

    {{ form_errors(form) }}

    <div class="row">
        {% for channelDefinition in channelDefinitionList %}
            {% set serviceDefinition = channelDefinition.serviceDefinition %}
            <div class="row">
                <div class="col-xs-1 col-xs-offset-1">
                    <div class="form-group">
                        <a class="link-remove" href={{ path('mfb_admin_setup_remove_definitions', {'definitionId': serviceDefinition.id}) }}>X</a>
                    </div>
                </div>
                <div class="col-xs-8">
                    <div class="form-group">
                        {{ serviceDefinition.name }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                {{ form_row(form.serviceDefinition, {'attr' : {'class': 'form-control'} }) }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-9">
            <div class="form-group">
                {{ form_row(form.customDefName, {'attr': {'class': 'form-control', 'placeholder': 'Write service definition', 'value':''} }) }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6">
            <div class="form-group">
                {{ form_widget(form.submit, {'attr': {'class': 'btn btn-left orange abstandoben breite130 addButton'} }) }}
            </div>
        </div>

        <div class="col-xs-6">
            <a class="btn" href="{{ path('mfb_admin_setup_select_criterias') }}">{% trans %}Continue{% endtrans %}</a>
        </div>
    </div>



    {{ form_end(form) }}

</div>


{% endblock %}
