{% extends "MFBAdminBundle::base.html.twig" %}
{% form_theme form "MeinFeedbackHomeBundle:Form:form_theme.html.twig" %}

{% block title %}Setup wizard{% endblock %}

{% block content %}

<div class="formular container modal-spacing">
    <h3 class="text-center form-header">{% trans %} Select Service {% endtrans %}</h3>

    {{ form_start(form) }}

    {{ form_errors(form) }}

    <div class="col-xs-9">
        <div class="form-group">
            {% for type in form.choice %}
                <div class="input-group">
                    <div class="float_left">
                        <label class="checkbox-inline">
                            {{ form_widget(type, {'attr': {'class' : 'checkbox'} }) }} {{ type.vars.label }}
                        </label>
                    </div>
                    <div class="float_left">
                        {% if type.vars.value == 'customInputOption' %}
                            {{ form_widget(form.customInputText, {'attr': {'class': 'col-xs-12 form-control', 'placeholder' : 'Custom Service Name'} }) }}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="col-xs-12">
        <div class="form-group">
            {{ form_widget(form.submit, {'attr': {'class': 'btn col-xs-12 form-control'} }) }}
        </div>
    </div>



    {{ form_end(form) }}

</div>


{% endblock %}
