{% extends "MFBAdminBundle:SetupWizard:formSetupBase.html.twig" %}

{% block title %}Setup wizard{% endblock %}

{% block formContent %}

<div class="formular container modal-spacing">
    <h3 class="text-center form-header">{% trans %} Select Criterias {% endtrans %}</h3>

    {% if neededCriteriaCount > 0 %}
        <div class="alert alert-info centered text-center"> {% trans with {'%neededCriteriaCount%': neededCriteriaCount } %} Needed Criterias {% endtrans %}</div>
    {% endif %}

    {{ form_errors(form) }}
    <div id="selectRatingCriteria">
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <div class="title bold">{% trans %} The following rating criterias were added {% endtrans %}</div>
                    <div class="sectionIdent">
                        <ol>
                            {% for criteria in channelRatingCriterias %}
                                <li>
                                    {{ criteria.getRatingCriteria.getName }}
                                </li>
                            {% endfor %}
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        {% if channelRatingCriterias|length < criteriaLimit %}
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        {{ form_start(form) }}
                        {{ form_row(form.ratingCriteria, {'attr' : {'class': 'form-control'} }) }}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        {{ form_row(form.customRatingName, {'attr' : {'class': 'form-control orange abstandoben breite130', 'placeholder': 'Your Criteria Name'} } ) }}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        {{ form_row(form.submit, {'attr' : {'class': 'btn btn-left orange abstandoben breite130 addButton'} } ) }}
                    </div>
                </div>
            </div>

            {{ form_end(form) }}
        {% else %}
            <div class="row">
                <div class="col-xs-12">
                    <a class="btn" href="{{ path('mfb_admin_setup_next_step') }}">{% trans %}Continue{% endtrans %}</a>
                </div>
            </div>
        {% endif %}
    </div>


</div>
{% endblock %}
