{% extends "::base.html.twig" %}

{% block title %}MeinFeedback{% endblock %}

{% block body %}

    {% javascripts '@MFBFeedbackBundle/Resources/public/js/main.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% stylesheets '@MFBFeedbackBundle/Resources/public/css/style.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    <div>
        <div class="row-fluid inner-page contact">
            <div class="span6">
                <div style="padding:20px 10px 15px 0; font-size: 24px; font-weight:300;">
                    Please leave feedback about {{ accountChannel.getName }}
                </div>

                <form method="post" action="{{ path('mfb_feedback_save_with_invite', {'token': token}) }}">

                {% if accountChannel.getRatingsEnabled == 1 %}
                    <div class="stars_gray">
                        <span style="width: 0%;" class="stars_gold"></span>
                        <div onmouseout="setRating(0);" class="stars_coords">
                            {% for i in 1..5 %}
                                <div onmousemove="setRating({{ i }});" onclick="clickRating({{ i }});"></div>
                            {% endfor %}
                        </div>
                    </div>
                    <input type="hidden" value="0" name="rating" class="rating"/>
                    {% if starErrorMessage %}
                        <div style="clear: both"></div>
                        <div class="errorMessage">
                            {{ starErrorMessage }}
                        </div>
                    {% endif %}
                {% endif %}

                <textarea rows="6" name="feedback" placeholder="Feedback">{{ feedback }}</textarea>
                <div style="width:250px; padding-top:10px;">
                    <input id="sendOut" class="btn btn-left orange abstandoben breite210" value="Send" type="submit">
                </div>
                </form>
            </div>

        </div>
    </div>
{% endblock %}

