{% extends "::base.html.twig" %}

{% block title %}MeinFeedback{% endblock %}

{% block body %}

    {% javascripts '@MFBFeedbackBundle/Resources/public/js/main.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% stylesheets '@MFBFeedbackBundle/Resources/public/css/style.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    <div>
        <div class="row-fluid inner-page contact">
            <div class="span6">
                <div style="padding:20px 10px 15px 0; font-size: 24px; font-weight:300;">
                    Please leave feedback about {{ accountChannel.getName }}
                </div>


                <form method="post" action="{{ path('mfb_feedback_save', {'accountId': accountId, 'accountChannelId': accountChannel.getId}) }}">
                    {% if errorMessage %}
                        <div class="errorMessage">
                            {{ errorMessage }}
                        </div>
                    {% endif %}
                    {{ form_widget(form.email, {'attr': {'class': 'required validate-email fr_input_txt fr_97_5pro breite490, spaceForMandatoryMark', 'placeholder': 'Customers email*'} }) }}
                    <div class="mandatoryFieldMark" style="float: right">*</div>
                    <div class="errorMessage">
                    {{ form_errors(form.email) }}
                    </div>

                    {% if accountChannel.getRatingsEnabled == 1 %}
                        <div class="stars_gray">
                            <span style="width: 0%;" class="stars_gold"></span>
                            <div onmouseout="setRating(0);" class="stars_coords">
                                {% for i in 1..5 %}
                                    <div onmousemove="setRating({{ i }});" onclick="clickRating({{ i }});"></div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="mandatoryFieldMark" style="float: left; position: relative; top:10px">*</div>
                        <input type="hidden" value="0" name="rating" class="rating"/>

                    {% endif %}

                <textarea class="spaceForMandatoryMark" rows="6" name="feedback" placeholder="Feedback">{{ feedback }}</textarea>
                    <div class="mandatoryFieldMark" style="float: right">*</div>
                {{ form_label(form.anonymous) }}
                <div style="display:block; width:50px">
                    {{ form_widget(form.anonymous) }}
                </div>
                {{ form_label(form.gender) }}
                {{ form_widget(form.gender, {'attr': {'class' : 'gender'} }) }}
                {{ form_row(form.firstName) }}
                {{ form_row(form.lastName) }}
                {{ form_row(form.customerIdReference) }}
                {{ form_row(form.serviceDate) }}
                {{ form_row(form.serviceDescription) }}
                {{ form_row(form.serviceIdReference) }}

                <div style="width:250px; padding-top:10px;">
                    <input id="sendOut" class="btn btn-left orange abstandoben breite210" value="Send" type="submit">
                </div>
                    {{ form_end(form) }}
                    <div class="mandatoryFieldText">* {% trans %} indicates required fields {% endtrans %}</div>
                </form>
            </div>

        </div>
    </div>
{% endblock %}

