{% extends "MFBFeedbackBundle::base.html.twig" %}
{% import "MeinFeedbackHomeBundle::macros.html.twig" as tooltips %}

{% form_theme form _self %}

{% block integer_widget %}
    <div class="integer_widget">
        {% set type = type|default('number') %}
        {{ block('form_widget_simple') }}
    </div>
{% endblock %}

    {% block preRating %}
        <div class="form-group">
            <div class="col-xs-12">
                {{ form_label(form.service.serviceGroup) }}
                {{ form_widget(form.service.serviceGroup, {'attr':{'class': 'form-control'} }) }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-12">
                {{ form_label(form.service.serviceProvider) }}
                {{ form_widget(form.service.serviceProvider, {'attr':{'class': 'form-control'} }) }}
            </div>
        </div>

    {% endblock %}

    {% block postRating %}
        <div class="form-group">
            <div class="col-xs-6">
                {{ form_label(form.service.customer.gender) }}
                <div class="input-group">
                    {% for gender in form.service.customer.gender %}
                        <label class="radio-inline">
                            {{ form_widget(gender, {'attr': {'class' : 'radio'} }) }} {{ gender.vars.label }}
                        </label>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-12">
            {{ form_label(form.service.customer.anonymous) }}
                <div style="display:block; width:80px;">
                {{ form_widget(form.service.customer.anonymous, {'attr': {'style': 'width:30px'} }) }}
                    <div style="float:right; position:relative; top:10px">
                        {{ tooltips.tooltip('What anonymous feedback?',
                        "Anonymous feedback will not display your personal information", 'positionBottomRight') }}
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-12">
                {{ form_label(form.service.customer.firstName) }}
                {{ form_widget(form.service.customer.firstName, {'attr':{'class': 'feedbackInput form-control'} }) }}
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-12">
                {{ form_label(form.service.customer.lastName) }}
                {{ form_widget(form.service.customer.lastName, {'attr':{'class': 'form-control'} }) }}
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-12">
               {{ form_label(form.service.customer.customerIdReference) }}
               {{ form_widget(form.service.customer.customerIdReference, {'attr':{'class': 'form-control'} }) }}
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-12">
                {{ form_label(form.service.serviceIdReference) }}
                {{ form_widget(form.service.serviceIdReference, {'attr':{'class': 'form-control'} }) }}

            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-12">
                {{ form_label(form.service.date) }}
                <div class="form-inline">
                    {% for date in form.service.date %}
                        <div class="col-xs-4">
                            {{ form_widget(date, {'attr': {'class': 'form-control'} }) }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-12">
                {{ form_label(form.service.customer.email) }}
                {{ form_widget(form.service.customer.email, {'attr': {'class': 'form-control', 'placeholder': 'Customers email'} }) }}
            </div>
        </div>

    {% endblock %}


