{% extends "MFBFeedbackBundle::base.html.twig" %}
{% import "MeinFeedbackHomeBundle::macros.html.twig" as tooltips %}

    {% block preRating %}
        {{ form_widget(form.service.customer.email, {'attr': {'class': 'required validate-email fr_input_txt fr_97_5pro breite490, spaceForMandatoryMark', 'placeholder': 'Customers email'} }) }}
        <div class="mandatoryFieldMark" style="float: right">*</div>
        <div class="errorMessage">
        {{ form_errors(form.service.customer.email) }}
        </div>
    {% endblock %}

    {% block postRating %}
        {{ form_label(form.service.customer.gender) }}
        {{ form_widget(form.service.customer.gender, {'attr': {'class' : 'gender'} }) }}
        <div class="mandatoryFieldMark" style="float: right">*</div>
        {{ form_label(form.service.customer.anonymous) }}
        <div style="display:block; width:80px;">
            {{ form_widget(form.service.customer.anonymous, {'attr': {'style': 'width:30px'} }) }}
            <div style="float:right; position:relative; top:10px">
                {{ tooltips.tooltip('What anonymous feedback?',
                "Anonymous feedback will not display your personal information", 'positionBottomRight') }}
            </div>
        </div>
        {{ form_row(form.service.customer.firstName, {'attr':{'class': 'feedbackInput'} }) }}
        {{ form_row(form.service.customer.lastName) }}
        {{ form_row(form.service.customer.customerIdReference) }}
        {{ form_row(form.service.date) }}
        {{ form_row(form.service.serviceIdReference) }}
        {{ form_row(form.service.serviceProvider) }}
        {{ form_row(form.service.serviceGroup) }}
    {% endblock %}



