{% extends "MFBAccountBundle::base.html.twig" %}

{% block title %}Registration{% endblock %}

{% block content %}

<div class="formular container modal-spacing">
    {#<div style="padding:20px 10px 15px 0; font-size: 17px; font-weight:100;">Melden Sie sich jetzt kostenlos an<br> und beginnen Sie gleich mit dem Sammeln von Bewertungen an.</div>#}

    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    {{ form_errors(form) }}

    <div class="form-group">
        <div class="col-xs-12">
            <div class="mandatoryFieldMark">*</div>
            {{ form_widget(form.name, {'attr': {'class': 'required fr_input_txt fr_97_5pro popupInput form-control', 'placeholder': 'Name'} }) }}
            {{ form_errors(form.name) }}
        </div>
    </div>

    <div class="form-group">
        <div class="col-xs-12">
            <div class="mandatoryFieldMark">*</div>
            {{ form_widget(form.lastname, {'attr': {'class': 'required fr_input_txt fr_97_5pro popupInput form-control', 'placeholder': 'Lastname'} }) }}
            {{ form_errors(form.lastname) }}
        </div>
    </div>

    <div class="form-group">
        <div class="col-xs-12">
            <div class="mandatoryFieldMark">*</div>
            {{ form_widget(form.email, {'attr': {'class': 'required validate-email fr_input_txt fr_97_5pro popupInput form-control', 'placeholder': 'Email'} }) }}
            {{ form_errors(form.email) }}
        </div>
    </div>

    <div class="form-group">
        <div class="col-xs-12">
            <div class="mandatoryFieldMark">*</div>
            {{ form_widget(form.password.first, {'attr': {'class': 'required validate-passwd validate-alphanum fr_input_txt fr_97_5pro popupInput form-control', 'placeholder': 'Passwort'} }) }}
            {{ form_errors(form.password.first) }}
        </div>
    </div>

    <div class="form-group">
        <div class="col-xs-12">
            <div class="mandatoryFieldMark">*</div>
            {{ form_widget(form.password.second, {'attr': {'class': 'required validate-match validate-alphanum fr_input_txt fr_97_5pro popupInput form-control', 'placeholder': 'Passwort Wiederholung'} }) }}
            {{ form_errors(form.password.second) }}
        </div>
    </div>

    {#&#123;&#35;<div class="kleiner"> Bitte verwenden Sie f체r Ihr Passwort nur Buchstaben von <strong>"a-z"</strong>, <strong>"A-Z"</strong> und Zahlen von <strong>"0-9"</strong>.</div>&#35;&#125;#}

    {#&#123;&#35;<div class="textagb controls">  <input name="reg_terms_ds" class="inputcheckbox required validate-required-check" id="check-1" type="checkbox">&#35;&#125;#}


    {#&#123;&#35;<label for="check-1" class="inputcheckbox-text ">&nbsp; Ich best채tige hiermit die <a href="https://www.foxrate.de/unternehmen/impressum-agb/" class="laws" name="Foxrate AGB">AGB</a> und die <a href="https://www.foxrate.de/unternehmen/datenschutz/" class="laws" name="Foxrate Datenschutzbestimmungen">Datenschutzbestimmungen</a>.<span class="reqtag">*</span></label></div>&#35;&#125;#}

    <div class="form-group">
        <div class="col-xs-12 text-center">
            <input id="sendOut" class="btn btn-left orange abstandoben breite210 width100" value="Jetzt anmelden" type="submit">
        </div>
    </div>

    {{ form_end(form) }}

    <div class="mandatoryFieldText form-endnote text-center"><span class="mandatory-mark">*</span> {% trans %} indicates required fields {% endtrans %}</div>

</div>

{% endblock %}

{#{% block body %}#}
    {#<div class="formular">#}
        {#&#123;&#35;<div style="padding:20px 10px 15px 0; font-size: 17px; font-weight:100;">Melden Sie sich jetzt kostenlos an<br> und beginnen Sie gleich mit dem Sammeln von Bewertungen an.</div>&#35;&#125;#}

        {#<div class="kontaktform">#}


            {#<form id="" action="" enctype="multipart/form-data" class="form-inline">#}
                {#<input name="Quelle" value="" type="hidden">#}
                {#<input name="register-lang" id="register-lang" value="de" type="hidden">#}


                {#<div>#}

                    {#<input name="username" id="username" class="required fr_input_txt fr_97_5pro breite490" type="text" placeholder="Name*">#}
                    {#<input name="email" id="email" class="required validate-email fr_input_txt fr_97_5pro breite490" type="text" placeholder="Email*">#}

                    {#<input name="passwd" id="passwd" class="required validate-passwd validate-alphanum fr_input_txt fr_97_5pro breite490" type="password" placeholder="Passwort*">#}

                    {#<input name="repeat_passwd" id="repeat_passwd" class="required validate-match validate-alphanum matchInput:'passwd' matchName:'passwd' fr_input_txt fr_97_5pro breite490" type="password" placeholder="Passwort Wiederholung*">#}

                    {#&#123;&#35;<div class="kleiner"> Bitte verwenden Sie f체r Ihr Passwort nur Buchstaben von <strong>"a-z"</strong>, <strong>"A-Z"</strong> und Zahlen von <strong>"0-9"</strong>.</div>&#35;&#125;#}

                    {#&#123;&#35;<div class="textagb controls">  <input name="reg_terms_ds" class="inputcheckbox required validate-required-check" id="check-1" type="checkbox">&#35;&#125;#}


                        {#&#123;&#35;<label for="check-1" class="inputcheckbox-text ">&nbsp; Ich best채tige hiermit die <a href="https://www.foxrate.de/unternehmen/impressum-agb/" class="laws" name="Foxrate AGB">AGB</a> und die <a href="https://www.foxrate.de/unternehmen/datenschutz/" class="laws" name="Foxrate Datenschutzbestimmungen">Datenschutzbestimmungen</a>.<span class="reqtag">*</span></label></div>&#35;&#125;#}
                    {#<input id="sendOut" class="btn btn-left orange abstandoben breite210" value="Jetzt anmelden" type="submit">#}


            {#</form>#}

        {#</div>#}
    {#</div>#}
{#{% endblock %}#}
