{% extends "MFBAccountBundle::base.html.twig" %}
{% form_theme form "MeinFeedbackHomeBundle:Form:form_widget_mandatory.html.twig" %}

{% block title %}Registration{% endblock %}

{% block content %}

<div class="formular container modal-spacing">

    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    {{ form_errors(form) }}

    <div class="form-group">
        <div class="col-xs-12">
            {{ form_widget(form.name, {'attr': {'class': 'required fr_input_txt fr_97_5pro popupInput form-control', 'placeholder': 'Name'} }) }}
            {{ form_errors(form.name) }}
        </div>
    </div>

    <div class="form-group">
        <div class="col-xs-12">
            {{ form_widget(form.lastname, {'attr': {'class': 'required fr_input_txt fr_97_5pro popupInput form-control', 'placeholder': 'Lastname'} }) }}
            {{ form_errors(form.lastname) }}
        </div>
    </div>

    <div class="form-group">
        <div class="col-xs-12">
            {{ form_widget(form.email, {'attr': {'class': 'required fr_input_txt fr_97_5pro popupInput form-control', 'placeholder': 'Email'} }) }}
            {{ form_errors(form.email) }}
        </div>
    </div>

    <div class="form-group">
        <div class="col-xs-12">
            {{ form_widget(form.password.first, {'attr': {'class': 'required validate-passwd validate-alphanum fr_input_txt fr_97_5pro popupInput form-control', 'placeholder': 'Passwort'} }) }}
            {{ form_errors(form.password.first) }}
        </div>
    </div>

    <div class="form-group">
        <div class="col-xs-12">
            {{ form_widget(form.password.second, {'attr': {'class': 'required validate-match validate-alphanum fr_input_txt fr_97_5pro popupInput form-control', 'placeholder': 'Passwort Wiederholung'} }) }}
            {{ form_errors(form.password.second) }}
        </div>
    </div>

    <div class="form-group">
        <div class="col-xs-12 text-center">
            <input id="sendOut" class="btn btn-left orange abstandoben breite210 width100" value="Jetzt anmelden" type="submit">
        </div>
    </div>

    {{ form_end(form) }}

    <div class="mandatoryFieldText form-endnote text-center"><span class="mandatory-mark">*</span> {% trans %} indicates required fields {% endtrans %}</div>

</div>

{% endblock %}
