{% extends "MFBAdminBundle::base.html.twig" %}
{% form_theme form "MeinFeedbackHomeBundle:Form:form_errors.html.twig" %}
{% block title %}{% trans %} Welcome to MeinFeedback {% endtrans %}{% endblock %}

{% block content %}

    <div class="modal-spacing container">
        <h3 class="text-center form-header">{% trans %} Logo settings {% endtrans %}</h3>
        <div>
            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
            {{ form_errors(form) }}

            <div class="form-group">
                <div class="col-xs-12">
                    {{ form_widget(form.file) }}
                </div>
            </div>

            {{ form_widget(form.save, {'attr': {'class': 'btn col-xs-12'}}) }}

            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}
