{% extends 'MFBAdminBundle::base.html.twig' %}

{% block content %}
    <div>
        <div class="row-fluid inner-page contact navLogo">
            <div class="span12">
             <div class="sectionTitle">Template Variable selection</div>

                {{ form_start(form) }}



                {% for variable in form.variables %}
                    <div style="display:block">
                        <label>#{{  variable.type.vars.value|trans|upper }}#</label>
                        {{ form_widget(variable.isActive, {'attr': {'class': 'variableSelect'} }) }}

                    </div>
                {% endfor %}

                    {{ form_row(form.submit, {'attr' : {'class': 'btn btn-left orange abstandoben breite210'} } ) }}

                <div class="hidden">
                    {{ form_rest(form) }}
                </div>

                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}