<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ email_title }}</title>
</head>
<body style="font-family: Helvetica, Lucida Grande, sans-serif; margin:0px; font-size:12px;">

<table cellpadding="0" cellspacing="0" style="margin:0 auto; margin-top:20px; border: 1px solid #ccc; padding-bottom:20px;">
    <tr>
        <td>
            <div style="float:left;padding-right:20px; background:#fff; width:580px; height:25px;">
                <a href="http://meinfeedback.net"><img src="{{  app.request.uriForPath(asset('bundles/mfbemail/images/logo.png')) }}"></a>
            </div>
            <div style="clear:both"></div>

            <div style="padding:20px; width:550px;">
               Customer {{ customerName }}
                {% if feedback.rating %}
                has given you a {{ feedback.rating }} star rating and
                {% endif %}
                has written the following feedback: <br>
                {{ feedback.content }}

            </div>
            <div style="clear:both"></div>
            <div style="padding-left:0px; width:550px; height: 25px; margin: 0 auto; font-size: 10px; color:#b2b2b2;">
                <div style="float:left; padding-right:20px;">
                    MeinFeedback GmbH<br>
                    Cicerostr.21<br>
                    D-10709 - Berlin
                </div>
                <div style="float:left; padding-right:20px;">
                    Handelsregister: HRB 134137 B<br>
                    Register Gericht: AG Charlottenburg<br>
                    UST ID: DE277546484<br>
                    Steuernummer: 27/416/09492
                </div>
                <div style="float:left; padding-right:20px;">
                    Mail: info@meinfeedback.net<br>
                    Fax: 030 / 886 228 299<br>
                    Web: www.foxrate.de
                </div>
            </div>
        </td>
    </tr>

</table>
</body>
</html>